<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingStereo | Sign Up</title>
    <link crossorigin="anonymous" href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="/public/css/common.css" rel="stylesheet">
    <link crossorigin="anonymous" href="/public/css/login-sign-up.css" rel="stylesheet">
</head>

<body class="text-white bg-dark">
    <div class="container h-100 d-flex align-content-center justify-content-center flex-wrap flex-column main-content">
        <a href="/" class="title">
            <h1 class="fw-light">SingStereo 🎵</h1>
        </a>
        <form>
            <div class="mb-2">
                <label for="name" class="form-label">Artist/band name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name">
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-2">
                <label for="rep-password" class="form-label">Repeat password</label>
                <input type="password" class="form-control" id="rep-password">
            </div>
            <button type="submit" class="btn btn-success w-100">Submit</button>
        </form>
        <hr>
        <div>
            <p class="fw-light">Already have an account?</p>
            <button class="btn btn-primary w-100" type="button" onclick="window.location.href='/login'">Log In</button>
        </div>
    </div>

    <script src="/public/js/login.js"></script>
</body>

</html>