<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingStereo | Login</title>
    <link crossorigin="anonymous" href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="/public/css/common.css" rel="stylesheet">
    <link crossorigin="anonymous" href="/public/css/login-sign-up.css" rel="stylesheet">
</head>

<body class="text-white bg-dark">
    <div class="container h-100 d-flex align-content-center justify-content-center flex-wrap flex-column">
        <a href="/" class="title">
            <h1 class="fw-light">SingStereo 🎵</h1>
        </a>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Keep me signed</label>
            </div>
            <button type="submit" class="btn btn-success w-100">Submit</button>
        </form>
        <hr>
        <div>
            <p class="fw-light">Don't have an account?</p>
            <button class="btn btn-primary w-100" type="button" onclick="window.location.href='/sign-up'">Sign
                Up</button>
        </div>
    </div>

    <script src="/public/js/login.js"></script>
</body>

</html>