<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingStereo</title>
    <link crossorigin="anonymous" href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="/public/css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link crossorigin="anonymous" href="/public/css/singstereo.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/components/album-page.css">
</head>

<body class="text-white bg-dark d-flex flex-column">
    <!-- navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/singstereo">SingStereo 🎵</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="me-auto ms-auto">
                        <div class="input-group">
                            <input class="form-control border-end-0 border" type="search" value="search" id="example-search-input">
                            <span class="input-group-append">
                                <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>

                    <button class="btn btn-outline-primary " type="button" onclick="window.location.href='/login'">My
                        account</button>
                </div>
            </div>
        </nav>
    </header>

    <!-- main -->
    <main class="flex-grow-1 main-content">
        
    </main>

    <!-- footer -->
    <footer class="footer mt-auto py-3 bg-dark w-100 pt-1 pb-0">
        <div class="w-100 d-flex flex-row">
            <now-playing class="w-100"></now-playing>
        </div>
    </footer>

    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/public/js/singstereo.js"></script>
    <script type="module" src="/public/js/components/now-playing.js"></script>
    <script type="module" src="/public/js/components/artist-page.js"></script>

</body>

</html>