<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingStereo</title>
    <link crossorigin="anonymous" href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="/public/css/common.css" rel="stylesheet">
    <link crossorigin="anonymous" href="/public/css/singstereo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="text-white bg-dark d-flex flex-column">
    <!-- navbar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">SingStereo 🎵</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <button class="btn btn-outline-primary " type="button" onclick="window.location.href='/login'">My
                        account</button>
                </div>
            </div>
        </nav>
    </header>

    <!-- main -->
    <main class="flex-grow-1 main-content">
        <div class="py-5 container h-100">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">SingStereo is here!</h1>
                <p class="lead text-muted">
                    This is SingStereo, your new best music streaming platform where you can listen to your favorite
                    songs with a great quality.
                </p>
                <p class="lead text-muted">
                    Enjoy your music with us!
                </p>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="footer mt-auto py-3 bg-dark w-100 pt-1 pb-0">
        <div class="w-100 d-flex flex-row">
            <now-playing class="w-100"></now-playing>
        </div>
    </footer>

    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/public/js/components/now-playing.js"></script>
</body>

</html>